src/com/pmstation/shared/soap/client/DesktopApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.soap.shared.pmstation.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api.soap.shared.pmstation.com/" name="DesktopAppJax2Service">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="https://api.4shared.com:443/jax3/DesktopApp?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://api.soap.shared.pmstation.com/" schemaLocation="https://api.4shared.com:443/jax3/DesktopApp?xsd=2" />
</xsd:schema>
</types>
<message name="run">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
</message>
<message name="runResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ApiException">
<part name="fault" element="tns:ApiException" />
</message>
<message name="getFreeSpace">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getFreeSpaceResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getRoot">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getRootResponse">
<part name="return" type="tns:accountItem" />
</message>
<message name="login">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="loginResponse">
<part name="return" type="xsd:string" />
</message>
<message name="hasRightUpload" />
<message name="hasRightUploadResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="getItems">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getItemsResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="uploadCancelFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="uploadCancelFileResponse" />
<message name="getFiles">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="arg2" type="ns1:longArray" />
</message>
<message name="getFilesResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getSpaceLimit">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getSpaceLimitResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getHistory">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getHistoryResponse">
<part name="return" type="tns:dirHistoryDTOArray" />
</message>
<message name="getPlaylistLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getPlaylistLinkResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getSettings">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:int" />
</message>
<message name="getSettingsResponse">
<part name="return" type="tns:userSettings" />
</message>
<message name="getToolList" />
<message name="getToolListResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray" />
</message>
<message name="getToolUrl">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getToolUrlResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getToolVersion">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getToolVersionResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getFileDescription">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getFileDescriptionResponse">
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="return" type="ns3:stringArray" />
</message>
<message name="getDirDescription">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getDirDescriptionResponse">
<part name="return" type="xsd:string" />
</message>
<message name="simpleUploadStart">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:long" />
</message>
<message name="simpleUploadStartResponse">
<part name="return" type="tns:fileUploadInfo" />
</message>
<message name="setFileDescription">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
<part name="arg5" type="xsd:string" />
<part name="arg6" type="xsd:boolean" />
<part name="arg7" type="xsd:boolean" />
</message>
<message name="setFileDescriptionResponse">
<part name="return" type="xsd:string" />
</message>
<message name="setDirDescription">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:boolean" />
<part name="arg5" type="xsd:boolean" />
</message>
<message name="setDirDescriptionResponse">
<part name="return" type="xsd:string" />
</message>
<message name="reportAbuse">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:boolean" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
<part name="arg5" type="xsd:string" />
<part name="arg6" type="xsd:string" />
<part name="arg7" type="xsd:string" />
<part name="arg8" type="xsd:string" />
<part name="arg9" type="xsd:string" />
</message>
<message name="reportAbuseResponse">
<part name="return" type="xsd:string" />
</message>
<message name="checkSettings">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="tns:userSettings" />
</message>
<message name="checkSettingsResponse">
<part xmlns:ns4="http://jaxb.dev.java.net/array" name="return" type="ns4:stringArray" />
</message>
<message name="applySettings">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="tns:userSettings" />
</message>
<message name="applySettingsResponse">
<part xmlns:ns5="http://jaxb.dev.java.net/array" name="return" type="ns5:stringArray" />
</message>
<message name="checkSharedDirAccess">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
</message>
<message name="checkSharedDirAccessResponse">
<part name="return" type="xsd:int" />
</message>
<message name="checkSubdomain">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="checkSubdomainResponse">
<part name="return" type="xsd:string" />
</message>
<message name="createNewFolder">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="createNewFolderResponse">
<part name="return" type="xsd:long" />
</message>
<message name="createUploadSessionKey">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="createUploadSessionKeyResponse">
<part name="return" type="xsd:string" />
</message>
<message name="creatNewFolder">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="creatNewFolderResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="decodeId">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="decodeIdResponse">
<part name="return" type="xsd:string" />
</message>
<message name="decodeLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="decodeLinkResponse">
<part name="return" type="xsd:long" />
</message>
<message name="deleteFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="deleteFileResponse" />
<message name="deleteFileFinal">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="deleteFileFinalResponse" />
<message name="deleteFolder">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="deleteFolderResponse" />
<message name="deleteFolderFinal">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="deleteFolderFinalResponse" />
<message name="downloadFinished">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="downloadFinishedResponse" />
<message name="getAllFolders">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getAllFoldersResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getAllItems">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getAllItemsResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getCurrentUploaderVersion" />
<message name="getCurrentUploaderVersionResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getDirectLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="getDirectLinkResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getDirInfo">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getDirInfoResponse">
<part name="return" type="tns:accountItem" />
</message>
<message name="getFileDownloadLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getFileDownloadLinkResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getFileInfo">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getFileInfoResponse">
<part name="return" type="tns:accountItem" />
</message>
<message name="getFolderSharingProperties">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getFolderSharingPropertiesResponse">
<part name="return" type="tns:sharedFolderPropertiesArray" />
</message>
<message name="getHistoriesFromId">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part xmlns:ns6="http://jaxb.dev.java.net/array" name="arg2" type="ns6:longArray" />
<part xmlns:ns7="http://jaxb.dev.java.net/array" name="arg3" type="ns7:longArray" />
</message>
<message name="getHistoriesFromIdResponse">
<part name="return" type="tns:dirHistoryDTOArrayArray" />
</message>
<message name="getHistoryFromId">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:long" />
</message>
<message name="getHistoryFromIdResponse">
<part name="return" type="tns:dirHistoryDTOArray" />
</message>
<message name="getHistoryLastId">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getHistoryLastIdResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getItemInfo">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:boolean" />
</message>
<message name="getItemInfoResponse">
<part name="return" type="tns:accountItem" />
</message>
<message name="getItemsCount">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getItemsCountResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getItemsPartial">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:int" />
<part name="arg4" type="xsd:int" />
</message>
<message name="getItemsPartialResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getMaxFileSize">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getMaxFileSizeResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getNewFileDataCenter">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getNewFileDataCenterResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getNotOwnedSizeLimit" />
<message name="getNotOwnedSizeLimitResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getNotRecursiveHistories">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part xmlns:ns8="http://jaxb.dev.java.net/array" name="arg2" type="ns8:longArray" />
<part xmlns:ns9="http://jaxb.dev.java.net/array" name="arg3" type="ns9:longArray" />
</message>
<message name="getNotRecursiveHistoriesResponse">
<part name="return" type="tns:dirHistoryDTOArrayArray" />
</message>
<message name="getOperationDescriptions" />
<message name="getOperationDescriptionsResponse">
<part xmlns:ns10="http://jaxb.dev.java.net/array" name="return" type="ns10:stringArray" />
</message>
<message name="getOwnedSizeLimit" />
<message name="getOwnedSizeLimitResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getRecycleBinItems">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getRecycleBinItemsResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getDirLinkItems">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getDirLinkItemsResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getSharedDirItems">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
</message>
<message name="getSharedDirItemsResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getUploadFormUrl">
<part name="arg0" type="xsd:int" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getUploadFormUrlResponse">
<part name="return" type="xsd:string" />
</message>
<message name="isAccountActive">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="isAccountActiveResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="isAccountBanned">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="isAccountBannedResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="isAccountPremium">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="isAccountPremiumResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="isExistsLoginPassword">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="isExistsLoginPasswordResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="markSynchronized">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="markSynchronizedResponse" />
<message name="pasteFilesDirs">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:boolean" />
<part xmlns:ns11="http://jaxb.dev.java.net/array" name="arg4" type="ns11:longArray" />
<part xmlns:ns12="http://jaxb.dev.java.net/array" name="arg5" type="ns12:longArray" />
</message>
<message name="pasteFilesDirsResponse">
<part name="return" type="xsd:string" />
</message>
<message name="renameFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="renameFileResponse">
<part name="return" type="xsd:long" />
</message>
<message name="renameFolder">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="renameFolderResponse">
<part name="return" type="xsd:long" />
</message>
<message name="restoreFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="restoreFileResponse" />
<message name="restoreFiles">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part xmlns:ns13="http://jaxb.dev.java.net/array" name="arg2" type="ns13:longArray" />
</message>
<message name="restoreFilesResponse" />
<message name="setFolderSharingProperties">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="tns:sharedFolderProperties" />
</message>
<message name="setFolderSharingPropertiesResponse">
<part name="return" type="xsd:string" />
</message>
<message name="signup">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="signupResponse">
<part name="return" type="xsd:string" />
</message>
<message name="syncFinished">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="syncFinishedResponse" />
<message name="uploaderLoggedIn">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
</message>
<message name="uploaderLoggedInResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="uploadFinishFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="uploadFinishFileResponse">
<part name="return" type="xsd:string" />
</message>
<message name="uploadStartedFileExists">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="uploadStartedFileExistsResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="uploadStartFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:long" />
</message>
<message name="uploadStartFileResponse">
<part name="return" type="xsd:long" />
</message>
<message name="uploadStartFileUpdate">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:long" />
</message>
<message name="uploadStartFileUpdateResponse">
<part name="return" type="xsd:long" />
</message>
<message name="signupUsername">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="signupUsernameResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getAllSettings">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getAllSettingsResponse">
<part name="return" type="tns:userSettingsArray" />
</message>
<message name="getSettingGroups">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getSettingGroupsResponse">
<part name="return" type="tns:settingsGroupArray" />
</message>
<message name="addToMyAccount">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="addToMyAccountResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getFavorites">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getFavoritesResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="addToFavorites">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="addToFavoritesResponse">
<part name="return" type="xsd:long" />
</message>
<message name="removeFromFavorites">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="removeFromFavoritesResponse">
<part name="return" type="xsd:long" />
</message>
<message name="emptyRecycleBin">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="emptyRecycleBinResponse">
<part name="return" type="xsd:int" />
</message>
<message name="getMp3FileInfo">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="getMp3FileInfoResponse">
<part name="return" type="tns:mp3Info" />
</message>
<message name="getMp3FileInfos">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getMp3FileInfosResponse">
<part name="return" type="tns:mp3InfoArray" />
</message>
<message name="getExifFileInfos">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getExifFileInfosResponse">
<part name="return" type="tns:exifInfoArray" />
</message>
<message name="getExifFileInfo">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="getExifFileInfoResponse">
<part name="return" type="tns:exifInfo" />
</message>
<message name="getPreviewLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getPreviewLinkResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getVideoPreviewLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getVideoPreviewLinkResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getSmallImageLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:int" />
</message>
<message name="getSmallImageLinkResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getSharedPlaylistLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
</message>
<message name="getSharedPlaylistLinkResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getFileVersionLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:int" />
</message>
<message name="getFileVersionLinkResponse">
<part name="return" type="xsd:string" />
</message>
<portType name="DesktopAppJax2">
<operation name="run" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:run" />
<output message="tns:runResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getFreeSpace" parameterOrder="arg0 arg1">
<input message="tns:getFreeSpace" />
<output message="tns:getFreeSpaceResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getRoot" parameterOrder="arg0 arg1">
<input message="tns:getRoot" />
<output message="tns:getRootResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="login" parameterOrder="arg0 arg1">
<input message="tns:login" />
<output message="tns:loginResponse" />
</operation>
<operation name="hasRightUpload">
<input message="tns:hasRightUpload" />
<output message="tns:hasRightUploadResponse" />
</operation>
<operation name="getItems" parameterOrder="arg0 arg1 arg2">
<input message="tns:getItems" />
<output message="tns:getItemsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="uploadCancelFile" parameterOrder="arg0 arg1 arg2">
<input message="tns:uploadCancelFile" />
<output message="tns:uploadCancelFileResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getFiles" parameterOrder="arg0 arg1 arg2">
<input message="tns:getFiles" />
<output message="tns:getFilesResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getSpaceLimit" parameterOrder="arg0 arg1">
<input message="tns:getSpaceLimit" />
<output message="tns:getSpaceLimitResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getHistory" parameterOrder="arg0 arg1 arg2">
<input message="tns:getHistory" />
<output message="tns:getHistoryResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getPlaylistLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:getPlaylistLink" />
<output message="tns:getPlaylistLinkResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getSettings" parameterOrder="arg0 arg1 arg2">
<input message="tns:getSettings" />
<output message="tns:getSettingsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getToolList">
<input message="tns:getToolList" />
<output message="tns:getToolListResponse" />
</operation>
<operation name="getToolUrl" parameterOrder="arg0 arg1">
<input message="tns:getToolUrl" />
<output message="tns:getToolUrlResponse" />
</operation>
<operation name="getToolVersion" parameterOrder="arg0 arg1">
<input message="tns:getToolVersion" />
<output message="tns:getToolVersionResponse" />
</operation>
<operation name="getFileDescription" parameterOrder="arg0 arg1 arg2">
<input message="tns:getFileDescription" />
<output message="tns:getFileDescriptionResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getDirDescription" parameterOrder="arg0 arg1 arg2">
<input message="tns:getDirDescription" />
<output message="tns:getDirDescriptionResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="simpleUploadStart" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:simpleUploadStart" />
<output message="tns:simpleUploadStartResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="setFileDescription" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input message="tns:setFileDescription" />
<output message="tns:setFileDescriptionResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="setDirDescription" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input message="tns:setDirDescription" />
<output message="tns:setDirDescriptionResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="reportAbuse" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9">
<input message="tns:reportAbuse" />
<output message="tns:reportAbuseResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="checkSettings" parameterOrder="arg0 arg1 arg2">
<input message="tns:checkSettings" />
<output message="tns:checkSettingsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="applySettings" parameterOrder="arg0 arg1 arg2">
<input message="tns:applySettings" />
<output message="tns:applySettingsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="checkSharedDirAccess" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:checkSharedDirAccess" />
<output message="tns:checkSharedDirAccessResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="checkSubdomain" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:checkSubdomain" />
<output message="tns:checkSubdomainResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="createNewFolder" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:createNewFolder" />
<output message="tns:createNewFolderResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="createUploadSessionKey" parameterOrder="arg0 arg1 arg2">
<input message="tns:createUploadSessionKey" />
<output message="tns:createUploadSessionKeyResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="creatNewFolder" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:creatNewFolder" />
<output message="tns:creatNewFolderResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="decodeId" parameterOrder="arg0 arg1 arg2">
<input message="tns:decodeId" />
<output message="tns:decodeIdResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="decodeLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:decodeLink" />
<output message="tns:decodeLinkResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="deleteFile" parameterOrder="arg0 arg1 arg2">
<input message="tns:deleteFile" />
<output message="tns:deleteFileResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="deleteFileFinal" parameterOrder="arg0 arg1 arg2">
<input message="tns:deleteFileFinal" />
<output message="tns:deleteFileFinalResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="deleteFolder" parameterOrder="arg0 arg1 arg2">
<input message="tns:deleteFolder" />
<output message="tns:deleteFolderResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="deleteFolderFinal" parameterOrder="arg0 arg1 arg2">
<input message="tns:deleteFolderFinal" />
<output message="tns:deleteFolderFinalResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="downloadFinished" parameterOrder="arg0 arg1 arg2">
<input message="tns:downloadFinished" />
<output message="tns:downloadFinishedResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getAllFolders" parameterOrder="arg0 arg1">
<input message="tns:getAllFolders" />
<output message="tns:getAllFoldersResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getAllItems" parameterOrder="arg0 arg1">
<input message="tns:getAllItems" />
<output message="tns:getAllItemsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getCurrentUploaderVersion">
<input message="tns:getCurrentUploaderVersion" />
<output message="tns:getCurrentUploaderVersionResponse" />
</operation>
<operation name="getDirectLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:getDirectLink" />
<output message="tns:getDirectLinkResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getDirInfo" parameterOrder="arg0 arg1 arg2">
<input message="tns:getDirInfo" />
<output message="tns:getDirInfoResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getFileDownloadLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:getFileDownloadLink" />
<output message="tns:getFileDownloadLinkResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getFileInfo" parameterOrder="arg0 arg1 arg2">
<input message="tns:getFileInfo" />
<output message="tns:getFileInfoResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getFolderSharingProperties" parameterOrder="arg0 arg1 arg2">
<input message="tns:getFolderSharingProperties" />
<output message="tns:getFolderSharingPropertiesResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getHistoriesFromId" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getHistoriesFromId" />
<output message="tns:getHistoriesFromIdResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getHistoryFromId" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getHistoryFromId" />
<output message="tns:getHistoryFromIdResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getHistoryLastId" parameterOrder="arg0 arg1 arg2">
<input message="tns:getHistoryLastId" />
<output message="tns:getHistoryLastIdResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getItemInfo" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getItemInfo" />
<output message="tns:getItemInfoResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getItemsCount" parameterOrder="arg0 arg1 arg2">
<input message="tns:getItemsCount" />
<output message="tns:getItemsCountResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getItemsPartial" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:getItemsPartial" />
<output message="tns:getItemsPartialResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getMaxFileSize" parameterOrder="arg0 arg1">
<input message="tns:getMaxFileSize" />
<output message="tns:getMaxFileSizeResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getNewFileDataCenter" parameterOrder="arg0 arg1">
<input message="tns:getNewFileDataCenter" />
<output message="tns:getNewFileDataCenterResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getNotOwnedSizeLimit">
<input message="tns:getNotOwnedSizeLimit" />
<output message="tns:getNotOwnedSizeLimitResponse" />
</operation>
<operation name="getNotRecursiveHistories" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getNotRecursiveHistories" />
<output message="tns:getNotRecursiveHistoriesResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getOperationDescriptions">
<input message="tns:getOperationDescriptions" />
<output message="tns:getOperationDescriptionsResponse" />
</operation>
<operation name="getOwnedSizeLimit">
<input message="tns:getOwnedSizeLimit" />
<output message="tns:getOwnedSizeLimitResponse" />
</operation>
<operation name="getRecycleBinItems" parameterOrder="arg0 arg1">
<input message="tns:getRecycleBinItems" />
<output message="tns:getRecycleBinItemsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getDirLinkItems" parameterOrder="arg0 arg1">
<input message="tns:getDirLinkItems" />
<output message="tns:getDirLinkItemsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getSharedDirItems" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:getSharedDirItems" />
<output message="tns:getSharedDirItemsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getUploadFormUrl" parameterOrder="arg0 arg1">
<input message="tns:getUploadFormUrl" />
<output message="tns:getUploadFormUrlResponse" />
</operation>
<operation name="isAccountActive" parameterOrder="arg0 arg1">
<input message="tns:isAccountActive" />
<output message="tns:isAccountActiveResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="isAccountBanned" parameterOrder="arg0 arg1">
<input message="tns:isAccountBanned" />
<output message="tns:isAccountBannedResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="isAccountPremium" parameterOrder="arg0 arg1">
<input message="tns:isAccountPremium" />
<output message="tns:isAccountPremiumResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="isExistsLoginPassword" parameterOrder="arg0 arg1">
<input message="tns:isExistsLoginPassword" />
<output message="tns:isExistsLoginPasswordResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="markSynchronized" parameterOrder="arg0 arg1 arg2">
<input message="tns:markSynchronized" />
<output message="tns:markSynchronizedResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="pasteFilesDirs" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input message="tns:pasteFilesDirs" />
<output message="tns:pasteFilesDirsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="renameFile" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:renameFile" />
<output message="tns:renameFileResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="renameFolder" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:renameFolder" />
<output message="tns:renameFolderResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="restoreFile" parameterOrder="arg0 arg1 arg2">
<input message="tns:restoreFile" />
<output message="tns:restoreFileResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="restoreFiles" parameterOrder="arg0 arg1 arg2">
<input message="tns:restoreFiles" />
<output message="tns:restoreFilesResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="setFolderSharingProperties" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:setFolderSharingProperties" />
<output message="tns:setFolderSharingPropertiesResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="signup" parameterOrder="arg0 arg1">
<input message="tns:signup" />
<output message="tns:signupResponse" />
</operation>
<operation name="syncFinished" parameterOrder="arg0 arg1 arg2">
<input message="tns:syncFinished" />
<output message="tns:syncFinishedResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="uploaderLoggedIn" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:uploaderLoggedIn" />
<output message="tns:uploaderLoggedInResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="uploadFinishFile" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:uploadFinishFile" />
<output message="tns:uploadFinishFileResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="uploadStartedFileExists" parameterOrder="arg0 arg1 arg2">
<input message="tns:uploadStartedFileExists" />
<output message="tns:uploadStartedFileExistsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="uploadStartFile" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:uploadStartFile" />
<output message="tns:uploadStartFileResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="uploadStartFileUpdate" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:uploadStartFileUpdate" />
<output message="tns:uploadStartFileUpdateResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="signupUsername" parameterOrder="arg0 arg1 arg2">
<input message="tns:signupUsername" />
<output message="tns:signupUsernameResponse" />
</operation>
<operation name="getAllSettings" parameterOrder="arg0 arg1">
<input message="tns:getAllSettings" />
<output message="tns:getAllSettingsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getSettingGroups" parameterOrder="arg0 arg1">
<input message="tns:getSettingGroups" />
<output message="tns:getSettingGroupsResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="addToMyAccount" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:addToMyAccount" />
<output message="tns:addToMyAccountResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getFavorites" parameterOrder="arg0 arg1">
<input message="tns:getFavorites" />
<output message="tns:getFavoritesResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="addToFavorites" parameterOrder="arg0 arg1 arg2">
<input message="tns:addToFavorites" />
<output message="tns:addToFavoritesResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="removeFromFavorites" parameterOrder="arg0 arg1 arg2">
<input message="tns:removeFromFavorites" />
<output message="tns:removeFromFavoritesResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="emptyRecycleBin" parameterOrder="arg0 arg1">
<input message="tns:emptyRecycleBin" />
<output message="tns:emptyRecycleBinResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getMp3FileInfo" parameterOrder="arg0 arg1 arg2">
<input message="tns:getMp3FileInfo" />
<output message="tns:getMp3FileInfoResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getMp3FileInfos" parameterOrder="arg0 arg1 arg2">
<input message="tns:getMp3FileInfos" />
<output message="tns:getMp3FileInfosResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getExifFileInfos" parameterOrder="arg0 arg1 arg2">
<input message="tns:getExifFileInfos" />
<output message="tns:getExifFileInfosResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getExifFileInfo" parameterOrder="arg0 arg1 arg2">
<input message="tns:getExifFileInfo" />
<output message="tns:getExifFileInfoResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getPreviewLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:getPreviewLink" />
<output message="tns:getPreviewLinkResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getVideoPreviewLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:getVideoPreviewLink" />
<output message="tns:getVideoPreviewLinkResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getSmallImageLink" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getSmallImageLink" />
<output message="tns:getSmallImageLinkResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getSharedPlaylistLink" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:getSharedPlaylistLink" />
<output message="tns:getSharedPlaylistLinkResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
<operation name="getFileVersionLink" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getFileVersionLink" />
<output message="tns:getFileVersionLinkResponse" />
<fault message="tns:ApiException" name="ApiException" />
</operation>
</portType>
<binding name="DesktopAppJax2PortBinding" type="tns:DesktopAppJax2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="run">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getFreeSpace">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getRoot">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="hasRightUpload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="uploadCancelFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getFiles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getSpaceLimit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getHistory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getPlaylistLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getSettings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getToolList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getToolUrl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getToolVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getFileDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getDirDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="simpleUploadStart">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="setFileDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="setDirDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="reportAbuse">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="checkSettings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="applySettings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="checkSharedDirAccess">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="checkSubdomain">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="createNewFolder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="createUploadSessionKey">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="creatNewFolder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="decodeId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="decodeLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="deleteFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="deleteFileFinal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="deleteFolder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="deleteFolderFinal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="downloadFinished">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getAllFolders">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getAllItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getCurrentUploaderVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getDirectLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getDirInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getFileDownloadLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getFileInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getFolderSharingProperties">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getHistoriesFromId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getHistoryFromId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getHistoryLastId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getItemInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getItemsCount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getItemsPartial">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getMaxFileSize">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getNewFileDataCenter">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getNotOwnedSizeLimit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getNotRecursiveHistories">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getOperationDescriptions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getOwnedSizeLimit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getRecycleBinItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getDirLinkItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getSharedDirItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getUploadFormUrl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="isAccountActive">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="isAccountBanned">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="isAccountPremium">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="isExistsLoginPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="markSynchronized">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="pasteFilesDirs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="renameFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="renameFolder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="restoreFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="restoreFiles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="setFolderSharingProperties">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="signup">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="syncFinished">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="uploaderLoggedIn">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="uploadFinishFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="uploadStartedFileExists">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="uploadStartFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="uploadStartFileUpdate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="signupUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getAllSettings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getSettingGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="addToMyAccount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getFavorites">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="addToFavorites">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="removeFromFavorites">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="emptyRecycleBin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getMp3FileInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getMp3FileInfos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getExifFileInfos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getExifFileInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getPreviewLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getVideoPreviewLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getSmallImageLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getSharedPlaylistLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
<operation name="getFileVersionLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
<fault name="ApiException">
<soap:fault name="ApiException" use="literal" />
</fault>
</operation>
</binding>
<service name="DesktopAppJax2Service">
<port name="DesktopAppJax2Port" binding="tns:DesktopAppJax2PortBinding">
<soap:address location="https://api.4shared.com:443/jax3/DesktopApp" />
</port>
</service>
</definitions>