src/com/pmstation/shared/soap/client/DesktopApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b05-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b05-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.soap.shared.pmstation.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api.soap.shared.pmstation.com/" name="DesktopAppJax2Service">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="https://api.4shared.com:443/jax2/DesktopApp?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://api.soap.shared.pmstation.com/" schemaLocation="https://api.4shared.com:443/jax2/DesktopApp?xsd=2" />
</xsd:schema>
</types>
<message name="getFreeSpace">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getFreeSpaceResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getRoot">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getRootResponse">
<part name="return" type="tns:accountItem" />
</message>
<message name="login">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="loginResponse">
<part name="return" type="xsd:string" />
</message>
<message name="hasRightUpload" />
<message name="hasRightUploadResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="getItems">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getItemsResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="uploadCancelFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="uploadCancelFileResponse" />
<message name="getFiles">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="arg2" type="ns1:longArray" />
</message>
<message name="getFilesResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getSpaceLimit">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getSpaceLimitResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getHistory">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getHistoryResponse">
<part name="return" type="tns:dirHistoryDTOArray" />
</message>
<message name="getToolList" />
<message name="getToolListResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray" />
</message>
<message name="getToolUrl">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getToolUrlResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getFileDescription">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getFileDescriptionResponse">
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="return" type="ns3:stringArray" />
</message>
<message name="getDirDescription">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getDirDescriptionResponse">
<part name="return" type="xsd:string" />
</message>
<message name="setFileDescription">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
<part name="arg5" type="xsd:string" />
<part name="arg6" type="xsd:boolean" />
<part name="arg7" type="xsd:boolean" />
</message>
<message name="setFileDescriptionResponse">
<part name="return" type="xsd:string" />
</message>
<message name="setDirDescription">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:boolean" />
<part name="arg5" type="xsd:boolean" />
</message>
<message name="setDirDescriptionResponse">
<part name="return" type="xsd:string" />
</message>
<message name="reportAbuse">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:boolean" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
<part name="arg5" type="xsd:string" />
<part name="arg6" type="xsd:string" />
<part name="arg7" type="xsd:string" />
<part name="arg8" type="xsd:string" />
<part name="arg9" type="xsd:string" />
</message>
<message name="reportAbuseResponse">
<part name="return" type="xsd:string" />
</message>
<message name="checkSettings">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="tns:userSettings" />
</message>
<message name="checkSettingsResponse">
<part xmlns:ns4="http://jaxb.dev.java.net/array" name="return" type="ns4:stringArray" />
</message>
<message name="applySettings">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="tns:userSettings" />
</message>
<message name="applySettingsResponse">
<part xmlns:ns5="http://jaxb.dev.java.net/array" name="return" type="ns5:stringArray" />
</message>
<message name="checkSharedDirAccess">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
</message>
<message name="checkSharedDirAccessResponse">
<part name="return" type="xsd:int" />
</message>
<message name="checkSubdomain">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="checkSubdomainResponse">
<part name="return" type="xsd:string" />
</message>
<message name="createNewFolder">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="createNewFolderResponse">
<part name="return" type="xsd:long" />
</message>
<message name="createUploadSessionKey">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="createUploadSessionKeyResponse">
<part name="return" type="xsd:string" />
</message>
<message name="creatNewFolder">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="creatNewFolderResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="decodeId">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="decodeIdResponse">
<part name="return" type="xsd:string" />
</message>
<message name="decodeLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="decodeLinkResponse">
<part name="return" type="xsd:long" />
</message>
<message name="deleteFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="deleteFileResponse" />
<message name="deleteFileFinal">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="deleteFileFinalResponse" />
<message name="deleteFolder">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="deleteFolderResponse" />
<message name="deleteFolderFinal">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="deleteFolderFinalResponse" />
<message name="downloadFinished">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="downloadFinishedResponse" />
<message name="getAllFolders">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getAllFoldersResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getAllItems">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getAllItemsResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getCurrentUploaderVersion" />
<message name="getCurrentUploaderVersionResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getDirectLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="getDirectLinkResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getDirInfo">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getDirInfoResponse">
<part name="return" type="tns:accountItem" />
</message>
<message name="getFileDownloadLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getFileDownloadLinkResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getFileInfo">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getFileInfoResponse">
<part name="return" type="tns:accountItem" />
</message>
<message name="getFolderSharingProperties">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getFolderSharingPropertiesResponse">
<part name="return" type="tns:sharedFolderPropertiesArray" />
</message>
<message name="getHistoriesFromId">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part xmlns:ns6="http://jaxb.dev.java.net/array" name="arg2" type="ns6:longArray" />
<part xmlns:ns7="http://jaxb.dev.java.net/array" name="arg3" type="ns7:longArray" />
</message>
<message name="getHistoriesFromIdResponse">
<part name="return" type="tns:dirHistoryDTOArrayArray" />
</message>
<message name="getHistoryFromId">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:long" />
</message>
<message name="getHistoryFromIdResponse">
<part name="return" type="tns:dirHistoryDTOArray" />
</message>
<message name="getItemInfo">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:boolean" />
</message>
<message name="getItemInfoResponse">
<part name="return" type="tns:accountItem" />
</message>
<message name="getItemsCount">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getItemsCountResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getItemsPartial">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:int" />
<part name="arg4" type="xsd:int" />
</message>
<message name="getItemsPartialResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getMaxFileSize">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getMaxFileSizeResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getNewFileDataCenter">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getNewFileDataCenterResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getNotOwnedSizeLimit" />
<message name="getNotOwnedSizeLimitResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getNotRecursiveHistories">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part xmlns:ns8="http://jaxb.dev.java.net/array" name="arg2" type="ns8:longArray" />
<part xmlns:ns9="http://jaxb.dev.java.net/array" name="arg3" type="ns9:longArray" />
</message>
<message name="getNotRecursiveHistoriesResponse">
<part name="return" type="tns:dirHistoryDTOArrayArray" />
</message>
<message name="getOperationDescriptions" />
<message name="getOperationDescriptionsResponse">
<part xmlns:ns10="http://jaxb.dev.java.net/array" name="return" type="ns10:stringArray" />
</message>
<message name="getOwnedSizeLimit" />
<message name="getOwnedSizeLimitResponse">
<part name="return" type="xsd:long" />
</message>
<message name="getRecycleBinItems">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getRecycleBinItemsResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getSharedDirItems">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
</message>
<message name="getSharedDirItemsResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="getUploadFormUrl">
<part name="arg0" type="xsd:int" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getUploadFormUrlResponse">
<part name="return" type="xsd:string" />
</message>
<message name="isAccountActive">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="isAccountActiveResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="isAccountBanned">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="isAccountBannedResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="isAccountPremium">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="isAccountPremiumResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="isExistsLoginPassword">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="isExistsLoginPasswordResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="markSynchronized">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="markSynchronizedResponse" />
<message name="pasteFilesDirs">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:boolean" />
<part xmlns:ns11="http://jaxb.dev.java.net/array" name="arg4" type="ns11:longArray" />
<part xmlns:ns12="http://jaxb.dev.java.net/array" name="arg5" type="ns12:longArray" />
</message>
<message name="pasteFilesDirsResponse">
<part name="return" type="xsd:string" />
</message>
<message name="renameFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="renameFileResponse">
<part name="return" type="xsd:long" />
</message>
<message name="renameFolder">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="renameFolderResponse">
<part name="return" type="xsd:long" />
</message>
<message name="restoreFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="restoreFileResponse" />
<message name="restoreFiles">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part xmlns:ns13="http://jaxb.dev.java.net/array" name="arg2" type="ns13:longArray" />
</message>
<message name="restoreFilesResponse" />
<message name="setFolderSharingProperties">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="tns:sharedFolderProperties" />
</message>
<message name="setFolderSharingPropertiesResponse">
<part name="return" type="xsd:string" />
</message>
<message name="signup">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="signupResponse">
<part name="return" type="xsd:string" />
</message>
<message name="syncFinished">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="syncFinishedResponse" />
<message name="uploaderLoggedIn">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
</message>
<message name="uploaderLoggedInResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="uploadFinishFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="uploadFinishFileResponse">
<part name="return" type="xsd:string" />
</message>
<message name="uploadStartedFileExists">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="uploadStartedFileExistsResponse">
<part name="return" type="xsd:boolean" />
</message>
<message name="uploadStartFile">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:long" />
</message>
<message name="uploadStartFileResponse">
<part name="return" type="xsd:long" />
</message>
<message name="uploadStartFileUpdate">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:long" />
</message>
<message name="uploadStartFileUpdateResponse">
<part name="return" type="xsd:long" />
</message>
<message name="signupUsername">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="signupUsernameResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getAllSettings">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getAllSettingsResponse">
<part name="return" type="tns:userSettingsArray" />
</message>
<message name="getSettings">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:int" />
</message>
<message name="getSettingsResponse">
<part name="return" type="tns:userSettings" />
</message>
<message name="getSettingGroups">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getSettingGroupsResponse">
<part name="return" type="tns:settingsGroupArray" />
</message>
<message name="addToMyAccount">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
<part name="arg3" type="xsd:string" />
</message>
<message name="addToMyAccountResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getFavorites">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="getFavoritesResponse">
<part name="return" type="tns:accountItemArray" />
</message>
<message name="addToFavorites">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="addToFavoritesResponse">
<part name="return" type="xsd:long" />
</message>
<message name="removeFromFavorites">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="removeFromFavoritesResponse">
<part name="return" type="xsd:long" />
</message>
<message name="emptyRecycleBin">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
</message>
<message name="emptyRecycleBinResponse">
<part name="return" type="xsd:int" />
</message>
<message name="getMp3FileInfo">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="getMp3FileInfoResponse">
<part name="return" type="tns:mp3Info" />
</message>
<message name="getMp3FileInfos">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getMp3FileInfosResponse">
<part name="return" type="tns:mp3InfoArray" />
</message>
<message name="getExifFileInfos">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getExifFileInfosResponse">
<part name="return" type="tns:exifInfoArray" />
</message>
<message name="getExifFileInfo">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
</message>
<message name="getExifFileInfoResponse">
<part name="return" type="tns:exifInfo" />
</message>
<message name="getPreviewLink">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:long" />
</message>
<message name="getPreviewLinkResponse">
<part name="return" type="xsd:string" />
</message>
<portType name="DesktopAppJax2">
<operation name="getFreeSpace" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFreeSpaceRequest" message="tns:getFreeSpace" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFreeSpaceResponse" message="tns:getFreeSpaceResponse" />
</operation>
<operation name="getRoot" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getRootRequest" message="tns:getRoot" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getRootResponse" message="tns:getRootResponse" />
</operation>
<operation name="login" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/loginRequest" message="tns:login" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="hasRightUpload">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/hasRightUploadRequest" message="tns:hasRightUpload" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/hasRightUploadResponse" message="tns:hasRightUploadResponse" />
</operation>
<operation name="getItems" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getItemsRequest" message="tns:getItems" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getItemsResponse" message="tns:getItemsResponse" />
</operation>
<operation name="uploadCancelFile" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploadCancelFileRequest" message="tns:uploadCancelFile" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploadCancelFileResponse" message="tns:uploadCancelFileResponse" />
</operation>
<operation name="getFiles" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFilesRequest" message="tns:getFiles" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFilesResponse" message="tns:getFilesResponse" />
</operation>
<operation name="getSpaceLimit" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getSpaceLimitRequest" message="tns:getSpaceLimit" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getSpaceLimitResponse" message="tns:getSpaceLimitResponse" />
</operation>
<operation name="getHistory" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getHistoryRequest" message="tns:getHistory" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getHistoryResponse" message="tns:getHistoryResponse" />
</operation>
<operation name="getToolList">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getToolListRequest" message="tns:getToolList" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getToolListResponse" message="tns:getToolListResponse" />
</operation>
<operation name="getToolUrl" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getToolUrlRequest" message="tns:getToolUrl" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getToolUrlResponse" message="tns:getToolUrlResponse" />
</operation>
<operation name="getFileDescription" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFileDescriptionRequest" message="tns:getFileDescription" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFileDescriptionResponse" message="tns:getFileDescriptionResponse" />
</operation>
<operation name="getDirDescription" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getDirDescriptionRequest" message="tns:getDirDescription" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getDirDescriptionResponse" message="tns:getDirDescriptionResponse" />
</operation>
<operation name="setFileDescription" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/setFileDescriptionRequest" message="tns:setFileDescription" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/setFileDescriptionResponse" message="tns:setFileDescriptionResponse" />
</operation>
<operation name="setDirDescription" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/setDirDescriptionRequest" message="tns:setDirDescription" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/setDirDescriptionResponse" message="tns:setDirDescriptionResponse" />
</operation>
<operation name="reportAbuse" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/reportAbuseRequest" message="tns:reportAbuse" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/reportAbuseResponse" message="tns:reportAbuseResponse" />
</operation>
<operation name="checkSettings" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/checkSettingsRequest" message="tns:checkSettings" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/checkSettingsResponse" message="tns:checkSettingsResponse" />
</operation>
<operation name="applySettings" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/applySettingsRequest" message="tns:applySettings" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/applySettingsResponse" message="tns:applySettingsResponse" />
</operation>
<operation name="checkSharedDirAccess" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/checkSharedDirAccessRequest" message="tns:checkSharedDirAccess" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/checkSharedDirAccessResponse" message="tns:checkSharedDirAccessResponse" />
</operation>
<operation name="checkSubdomain" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/checkSubdomainRequest" message="tns:checkSubdomain" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/checkSubdomainResponse" message="tns:checkSubdomainResponse" />
</operation>
<operation name="createNewFolder" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/createNewFolderRequest" message="tns:createNewFolder" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/createNewFolderResponse" message="tns:createNewFolderResponse" />
</operation>
<operation name="createUploadSessionKey" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/createUploadSessionKeyRequest" message="tns:createUploadSessionKey" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/createUploadSessionKeyResponse" message="tns:createUploadSessionKeyResponse" />
</operation>
<operation name="creatNewFolder" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/creatNewFolderRequest" message="tns:creatNewFolder" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/creatNewFolderResponse" message="tns:creatNewFolderResponse" />
</operation>
<operation name="decodeId" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/decodeIdRequest" message="tns:decodeId" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/decodeIdResponse" message="tns:decodeIdResponse" />
</operation>
<operation name="decodeLink" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/decodeLinkRequest" message="tns:decodeLink" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/decodeLinkResponse" message="tns:decodeLinkResponse" />
</operation>
<operation name="deleteFile" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/deleteFileRequest" message="tns:deleteFile" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/deleteFileResponse" message="tns:deleteFileResponse" />
</operation>
<operation name="deleteFileFinal" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/deleteFileFinalRequest" message="tns:deleteFileFinal" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/deleteFileFinalResponse" message="tns:deleteFileFinalResponse" />
</operation>
<operation name="deleteFolder" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/deleteFolderRequest" message="tns:deleteFolder" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/deleteFolderResponse" message="tns:deleteFolderResponse" />
</operation>
<operation name="deleteFolderFinal" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/deleteFolderFinalRequest" message="tns:deleteFolderFinal" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/deleteFolderFinalResponse" message="tns:deleteFolderFinalResponse" />
</operation>
<operation name="downloadFinished" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/downloadFinishedRequest" message="tns:downloadFinished" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/downloadFinishedResponse" message="tns:downloadFinishedResponse" />
</operation>
<operation name="getAllFolders" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getAllFoldersRequest" message="tns:getAllFolders" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getAllFoldersResponse" message="tns:getAllFoldersResponse" />
</operation>
<operation name="getAllItems" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getAllItemsRequest" message="tns:getAllItems" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getAllItemsResponse" message="tns:getAllItemsResponse" />
</operation>
<operation name="getCurrentUploaderVersion">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getCurrentUploaderVersionRequest" message="tns:getCurrentUploaderVersion" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getCurrentUploaderVersionResponse" message="tns:getCurrentUploaderVersionResponse" />
</operation>
<operation name="getDirectLink" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getDirectLinkRequest" message="tns:getDirectLink" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getDirectLinkResponse" message="tns:getDirectLinkResponse" />
</operation>
<operation name="getDirInfo" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getDirInfoRequest" message="tns:getDirInfo" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getDirInfoResponse" message="tns:getDirInfoResponse" />
</operation>
<operation name="getFileDownloadLink" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFileDownloadLinkRequest" message="tns:getFileDownloadLink" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFileDownloadLinkResponse" message="tns:getFileDownloadLinkResponse" />
</operation>
<operation name="getFileInfo" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFileInfoRequest" message="tns:getFileInfo" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFileInfoResponse" message="tns:getFileInfoResponse" />
</operation>
<operation name="getFolderSharingProperties" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFolderSharingPropertiesRequest" message="tns:getFolderSharingProperties" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFolderSharingPropertiesResponse" message="tns:getFolderSharingPropertiesResponse" />
</operation>
<operation name="getHistoriesFromId" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getHistoriesFromIdRequest" message="tns:getHistoriesFromId" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getHistoriesFromIdResponse" message="tns:getHistoriesFromIdResponse" />
</operation>
<operation name="getHistoryFromId" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getHistoryFromIdRequest" message="tns:getHistoryFromId" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getHistoryFromIdResponse" message="tns:getHistoryFromIdResponse" />
</operation>
<operation name="getItemInfo" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getItemInfoRequest" message="tns:getItemInfo" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getItemInfoResponse" message="tns:getItemInfoResponse" />
</operation>
<operation name="getItemsCount" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getItemsCountRequest" message="tns:getItemsCount" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getItemsCountResponse" message="tns:getItemsCountResponse" />
</operation>
<operation name="getItemsPartial" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getItemsPartialRequest" message="tns:getItemsPartial" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getItemsPartialResponse" message="tns:getItemsPartialResponse" />
</operation>
<operation name="getMaxFileSize" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getMaxFileSizeRequest" message="tns:getMaxFileSize" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getMaxFileSizeResponse" message="tns:getMaxFileSizeResponse" />
</operation>
<operation name="getNewFileDataCenter" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getNewFileDataCenterRequest" message="tns:getNewFileDataCenter" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getNewFileDataCenterResponse" message="tns:getNewFileDataCenterResponse" />
</operation>
<operation name="getNotOwnedSizeLimit">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getNotOwnedSizeLimitRequest" message="tns:getNotOwnedSizeLimit" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getNotOwnedSizeLimitResponse" message="tns:getNotOwnedSizeLimitResponse" />
</operation>
<operation name="getNotRecursiveHistories" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getNotRecursiveHistoriesRequest" message="tns:getNotRecursiveHistories" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getNotRecursiveHistoriesResponse" message="tns:getNotRecursiveHistoriesResponse" />
</operation>
<operation name="getOperationDescriptions">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getOperationDescriptionsRequest" message="tns:getOperationDescriptions" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getOperationDescriptionsResponse" message="tns:getOperationDescriptionsResponse" />
</operation>
<operation name="getOwnedSizeLimit">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getOwnedSizeLimitRequest" message="tns:getOwnedSizeLimit" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getOwnedSizeLimitResponse" message="tns:getOwnedSizeLimitResponse" />
</operation>
<operation name="getRecycleBinItems" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getRecycleBinItemsRequest" message="tns:getRecycleBinItems" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getRecycleBinItemsResponse" message="tns:getRecycleBinItemsResponse" />
</operation>
<operation name="getSharedDirItems" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getSharedDirItemsRequest" message="tns:getSharedDirItems" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getSharedDirItemsResponse" message="tns:getSharedDirItemsResponse" />
</operation>
<operation name="getUploadFormUrl" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getUploadFormUrlRequest" message="tns:getUploadFormUrl" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getUploadFormUrlResponse" message="tns:getUploadFormUrlResponse" />
</operation>
<operation name="isAccountActive" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/isAccountActiveRequest" message="tns:isAccountActive" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/isAccountActiveResponse" message="tns:isAccountActiveResponse" />
</operation>
<operation name="isAccountBanned" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/isAccountBannedRequest" message="tns:isAccountBanned" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/isAccountBannedResponse" message="tns:isAccountBannedResponse" />
</operation>
<operation name="isAccountPremium" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/isAccountPremiumRequest" message="tns:isAccountPremium" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/isAccountPremiumResponse" message="tns:isAccountPremiumResponse" />
</operation>
<operation name="isExistsLoginPassword" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/isExistsLoginPasswordRequest" message="tns:isExistsLoginPassword" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/isExistsLoginPasswordResponse" message="tns:isExistsLoginPasswordResponse" />
</operation>
<operation name="markSynchronized" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/markSynchronizedRequest" message="tns:markSynchronized" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/markSynchronizedResponse" message="tns:markSynchronizedResponse" />
</operation>
<operation name="pasteFilesDirs" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/pasteFilesDirsRequest" message="tns:pasteFilesDirs" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/pasteFilesDirsResponse" message="tns:pasteFilesDirsResponse" />
</operation>
<operation name="renameFile" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/renameFileRequest" message="tns:renameFile" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/renameFileResponse" message="tns:renameFileResponse" />
</operation>
<operation name="renameFolder" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/renameFolderRequest" message="tns:renameFolder" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/renameFolderResponse" message="tns:renameFolderResponse" />
</operation>
<operation name="restoreFile" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/restoreFileRequest" message="tns:restoreFile" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/restoreFileResponse" message="tns:restoreFileResponse" />
</operation>
<operation name="restoreFiles" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/restoreFilesRequest" message="tns:restoreFiles" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/restoreFilesResponse" message="tns:restoreFilesResponse" />
</operation>
<operation name="setFolderSharingProperties" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/setFolderSharingPropertiesRequest" message="tns:setFolderSharingProperties" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/setFolderSharingPropertiesResponse" message="tns:setFolderSharingPropertiesResponse" />
</operation>
<operation name="signup" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/signupRequest" message="tns:signup" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/signupResponse" message="tns:signupResponse" />
</operation>
<operation name="syncFinished" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/syncFinishedRequest" message="tns:syncFinished" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/syncFinishedResponse" message="tns:syncFinishedResponse" />
</operation>
<operation name="uploaderLoggedIn" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploaderLoggedInRequest" message="tns:uploaderLoggedIn" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploaderLoggedInResponse" message="tns:uploaderLoggedInResponse" />
</operation>
<operation name="uploadFinishFile" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploadFinishFileRequest" message="tns:uploadFinishFile" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploadFinishFileResponse" message="tns:uploadFinishFileResponse" />
</operation>
<operation name="uploadStartedFileExists" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploadStartedFileExistsRequest" message="tns:uploadStartedFileExists" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploadStartedFileExistsResponse" message="tns:uploadStartedFileExistsResponse" />
</operation>
<operation name="uploadStartFile" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploadStartFileRequest" message="tns:uploadStartFile" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploadStartFileResponse" message="tns:uploadStartFileResponse" />
</operation>
<operation name="uploadStartFileUpdate" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploadStartFileUpdateRequest" message="tns:uploadStartFileUpdate" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/uploadStartFileUpdateResponse" message="tns:uploadStartFileUpdateResponse" />
</operation>
<operation name="signupUsername" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/signupUsernameRequest" message="tns:signupUsername" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/signupUsernameResponse" message="tns:signupUsernameResponse" />
</operation>
<operation name="getAllSettings" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getAllSettingsRequest" message="tns:getAllSettings" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getAllSettingsResponse" message="tns:getAllSettingsResponse" />
</operation>
<operation name="getSettings" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getSettingsRequest" message="tns:getSettings" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getSettingsResponse" message="tns:getSettingsResponse" />
</operation>
<operation name="getSettingGroups" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getSettingGroupsRequest" message="tns:getSettingGroups" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getSettingGroupsResponse" message="tns:getSettingGroupsResponse" />
</operation>
<operation name="addToMyAccount" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/addToMyAccountRequest" message="tns:addToMyAccount" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/addToMyAccountResponse" message="tns:addToMyAccountResponse" />
</operation>
<operation name="getFavorites" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFavoritesRequest" message="tns:getFavorites" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getFavoritesResponse" message="tns:getFavoritesResponse" />
</operation>
<operation name="addToFavorites" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/addToFavoritesRequest" message="tns:addToFavorites" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/addToFavoritesResponse" message="tns:addToFavoritesResponse" />
</operation>
<operation name="removeFromFavorites" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/removeFromFavoritesRequest" message="tns:removeFromFavorites" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/removeFromFavoritesResponse" message="tns:removeFromFavoritesResponse" />
</operation>
<operation name="emptyRecycleBin" parameterOrder="arg0 arg1">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/emptyRecycleBinRequest" message="tns:emptyRecycleBin" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/emptyRecycleBinResponse" message="tns:emptyRecycleBinResponse" />
</operation>
<operation name="getMp3FileInfo" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getMp3FileInfoRequest" message="tns:getMp3FileInfo" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getMp3FileInfoResponse" message="tns:getMp3FileInfoResponse" />
</operation>
<operation name="getMp3FileInfos" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getMp3FileInfosRequest" message="tns:getMp3FileInfos" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getMp3FileInfosResponse" message="tns:getMp3FileInfosResponse" />
</operation>
<operation name="getExifFileInfos" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getExifFileInfosRequest" message="tns:getExifFileInfos" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getExifFileInfosResponse" message="tns:getExifFileInfosResponse" />
</operation>
<operation name="getExifFileInfo" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getExifFileInfoRequest" message="tns:getExifFileInfo" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getExifFileInfoResponse" message="tns:getExifFileInfoResponse" />
</operation>
<operation name="getPreviewLink" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getPreviewLinkRequest" message="tns:getPreviewLink" />
<output wsam:Action="http://api.soap.shared.pmstation.com/DesktopAppJax2/getPreviewLinkResponse" message="tns:getPreviewLinkResponse" />
</operation>
</portType>
<binding name="DesktopAppJax2PortBinding" type="tns:DesktopAppJax2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="getFreeSpace">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getRoot">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="hasRightUpload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="uploadCancelFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getFiles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getSpaceLimit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getHistory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getToolList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getToolUrl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getFileDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getDirDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="setFileDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="setDirDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="reportAbuse">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="checkSettings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="applySettings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="checkSharedDirAccess">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="checkSubdomain">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="createNewFolder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="createUploadSessionKey">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="creatNewFolder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="decodeId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="decodeLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="deleteFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="deleteFileFinal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="deleteFolder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="deleteFolderFinal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="downloadFinished">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getAllFolders">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getAllItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getCurrentUploaderVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getDirectLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getDirInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getFileDownloadLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getFileInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getFolderSharingProperties">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getHistoriesFromId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getHistoryFromId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getItemInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getItemsCount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getItemsPartial">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getMaxFileSize">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getNewFileDataCenter">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getNotOwnedSizeLimit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getNotRecursiveHistories">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getOperationDescriptions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getOwnedSizeLimit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getRecycleBinItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getSharedDirItems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getUploadFormUrl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="isAccountActive">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="isAccountBanned">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="isAccountPremium">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="isExistsLoginPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="markSynchronized">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="pasteFilesDirs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="renameFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="renameFolder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="restoreFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="restoreFiles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="setFolderSharingProperties">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="signup">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="syncFinished">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="uploaderLoggedIn">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="uploadFinishFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="uploadStartedFileExists">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="uploadStartFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="uploadStartFileUpdate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="signupUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getAllSettings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getSettings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getSettingGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="addToMyAccount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getFavorites">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="addToFavorites">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="removeFromFavorites">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="emptyRecycleBin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getMp3FileInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getMp3FileInfos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getExifFileInfos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getExifFileInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
<operation name="getPreviewLink">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/" />
</output>
</operation>
</binding>
<service name="DesktopAppJax2Service">
<port name="DesktopAppJax2Port" binding="tns:DesktopAppJax2PortBinding">
<soap:address location="https://api.4shared.com:443/jax2/DesktopApp" />
</port>
</service>
</definitions>